{% extends "base.html" %}
{% block title %}Welcome to the {{ provider_name }} LTI Provider{% endblock %}
{% block styling %}
<style lang="css">
.error-container {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.centered {
    text-align: center;
}

.error {
    font-weight: bold;
    color: red;
}
</style>
{% endblock %}
{% block content %}
<div class="error-container">
	<div class="text-center mb-4">
		{% if logo_uri is not none %}
				<img class="mb-4" src="{{ logo_uri }}" alt="" height="72">
		{%endif %}
		<h1 class="h3 mb-3 font-weight-normal">Cannot start the application</h1>
	</div>

	<div class="centered">
		<p class="error">
			{{ error }}
		</p>
        {% if consumer_name is not none %}
        <p>
            Try to restart the application on {{ consumer_name }}
        </p>
        {%endif %}
	</div>

	<p class="mt-5 mb-3 text-muted text-center">{{ provider_name }} {{ now.year }}</p>
</div>
{% endblock %}
