{% extends "base.html" %}
{% block title %}Welcome to the {{ provider_name }} LTI Provider{% endblock %}
{% block styling %}
<style lang="css">
.start-container {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.snippet {
	background-color: white;
}

code {
	border-radius: 5px;
}

mark {
	background-color: transparent;
	color: #e83e8c;
}
</style>
{% endblock %}
{% block content %}
<div class="start-container">
	<div class="text-center mb-4">
		{% if logo_uri is not none %}
				<img class="mb-4" src="{{ logo_uri }}" alt="" height="72">
		{%endif %}
		<h1 class="h3 mb-3 font-weight-normal">Welcome {{ lti_request.params.get("lis_person_name_full") }}</h1>
	</div>

	<div>
		<p>
			You have solved the assignment
			<blockquote class=" text-center">
				<strong>{{ assignment_name }}</strong> <small>#{{ assignment_id }}</small>
			</blockquote>
			and would like to submit your results?
		</p>
		<p>
			This is a customized start template that can include additional explanations or match your visual corporate identity.
		</p>
		<p>
			To submit <mark>copy and paste</mark> the following code snippet at the end of the code you used to train your model.
			Make sure to change the <code class="python">model</code> variable to the name of your keras model.
		</p>
		<details>
			<summary>Read more if you need help...</summary>
			<p>This might be a place for your custom detailed instructions</p>
		</details>
	</div>

	<pre><code class="python snippet">{{ code_snippet }}</code></pre>
	<button type="button" class="btn btn-lg btn-primary btn-block" data-clipboard-text="{{ code_snippet }}">Copy to clipboard!</button>
	<p class="mt-5 mb-3 text-muted text-center">&copy; {{ now.year }} - {{ provider_name }}</p>
</div>
{% endblock %}
